<!DOCTYPE html>
<html>
    <head>
        <link type="text/css" rel="stylesheet" href="css/normalize.css"/>
        <link type="text/css" rel="stylesheet" href="css/custom.css"/>
        <link type="text/css" rel="stylesheet" href="css/foundation.css"/>
    </head>

    <body>
        <nav class="row">
          <ul class="button-group round even-3">
            <li class="button secondary"><a href="/">Home</a></li>
            <li class="button secondary"><a href="/tasks">All</a></li>
            <li class="button secondary"><a href="/tasks/new">New</a></li>
          </ul>
        </nav>

        <div>
          <%= yield %>
        </div>
    </body>

</html>