<!DOCTYPE html>
<html>
    <head>
        <link type="text/css" rel="stylesheet" href="css/normalize.css"/>
        <link type="text/css" rel="stylesheet" href="css/custom.css"/>
        <link type="text/css" rel="stylesheet" href="css/foundation.css"/>
    </head>

    <body>
        <header>

        </header>

        <div>
          <%= yield %>
        </div>

        <footer>

        </footer>
    </body>

</html>