<div>
    <form action="/tasks" method="post">
      <h2>Enter a New Task</h2>
      <input type="text" name="task[title]"/><br/>
      <h3>Description</h3>
      <textarea name="task[description]"></textarea><br/>
      <br/>
      <input type="submit"/>
    </form>
</div>